///----------ACORDION-----------//////
.bordes-componentes {
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
}

.why-us {
  display: none;

  .content {
    padding: 60px 100px 0 100px;

    h3 {
      font-weight: 400;
      font-size: 34px;
      color: #070505;
    }

    h4 {
      font-size: 20px;
      font-weight: 700;
      margin-top: 5px;
    }

    p {
      font-size: 15px;
      color: #848484;
    }
  }
}

.why-us .img {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.why-us .accordion-list {
  ul {
    padding: 0;
    list-style: none;
  }


  li {
    padding: 15px 0px;
    background: #fff;
    border-radius: 4px;
  }

  a {
    display: block;
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    padding-right: 30px;
    outline: none;
    cursor: pointer;
  }

  span {
    color: #0a0606;
    font-weight: 600;
    font-size: 18px;
    padding-left: 5px;
  }

  i {
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 0;
  }

  p {
    margin-bottom: 0;
    padding: 10px 0 0 0;
  }
}

.why-us .accordion-list .icon-show {
  display: none;
}

.why-us .accordion-list a.collapsed .icon-show {
  display: inline-block;
}

.why-us .accordion-list a.collapsed .icon-close {
  display: none;
}

@media (max-width: 1024px) {
  .why-us .content,
  .why-us .accordion-list {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 1024px) {
  .why-us {
    display: block;
  }

  .why-us .row {
    display: inline;
  }

  .why-us .img {
    min-height: 10px;
  }

  .why-us .content {
    padding-top: 30px;
  }
}

@media (max-width: 575px) {
  .why-us {
    display: flex;
    padding-bottom: 0px;
  }
}